.gradle
.settings
.project
.classpath
.idea
.vscode
.DS_Store
.env

**/generated/*
**/bin/*
**/build/*
**/out/*
**/obj/*
**/temp/*
**/logs/*

!/.idea/dictionaries/tvbe.xml
!**/async/bin/*

*.hprof

stack.yml
docker-compose.yml
